<main>

  <% if @photos.any? %>

    <% @photos.each do |photo| %>
      <article class='photo-body'>

        <section class="image-container">
          <h2><%= link_to "#{photo.name}", photo_path(photo) %></h2>
          <p><%= image_tag photo.image.url(:medium) %><p>
        </section>

        <section class='text-container'>

          <p class="user-email"><%= photo.user.email %></p>
          <%= photo.created_at.strftime("%d . %m . %Y") %>

          <ul class="edit">
            <p><% if can? :update, photo %><p>
            <!-- <i class="fa fa-edit fa-2x edit-icon"></i> -->
            <%= link_to "Edit", edit_photo_path(photo) %>
            <% end %>

            <p><% if can? :destroy, photo %></p>
            <!-- <p><i class="fa fa-remove fa-2x remove-icon"></i></p> -->
            <p><%= link_to "Delete", photo_path(photo), method: :delete %></p>
            <% end %>
          </ul>

          <i class="fa fa-thumbs-o-up fa-2x"></i>
          <span class= "likes-count"><%= photo.likes.count %> </span> Likes
          <%= link_to "Like", photo_likes_path(photo), class: 'likes-link' %>

        </section>
      </article>
  <% end %>

  <% else %>
    <h1>No photos have been added yet</h1>
  <% end %>
</main>
