<main>

  <% if @photos.any? %>

    <% @photos.each do |photo| %>

        <h3><%= link_to "#{photo.name}", photo_path(photo) %></h3>
        <p><%= image_tag photo.image.url(:medium) %><p>

        <%= photo.user.email %>
        <%= photo.created_at.strftime("%d . %m . %Y") %>


        <% if can? :update, photo %>
        <%= link_to "Edit", edit_photo_path(photo) %>
        <% end %>

        <% if can? :destroy, photo %>
        <%= link_to "Delete", photo_path(photo), method: :delete %>
        <% end %>

        <p><%= link_to "Like", photo_likes_path(photo), class: 'likes-link' %><p>
        <span class="likes-count"><%= photo.likes.count %></span> Likes

    <% end %>

  <% else %>
    <p>No pictures have been added yet</p>
  <% end %>
</main>
