<main>

  <% if @photos.any? %>

    <% @photos.each do |photo| %>
      <article class='photo-body'>

        <section class="image-container">
          <h2><%= link_to "#{photo.name}", photo_path(photo) %></h2>
          <p><%= image_tag photo.image.url(:medium) %><p>
        </section>

        <section class='text-container'>

          <p class="user-email"><%= photo.user.email %></p>
          <%= photo.created_at.strftime("%d . %m . %Y") %>

          <ul class="edit-icons">
            <p><% if can? :update, photo %><p>
            <%= link_to "", edit_photo_path(photo), class: "fa fa-edit fa-2x" %>
            <% end %>

            <p><% if can? :destroy, photo %></p>
            <p><%= link_to "", photo_path(photo), method: :delete, class: "fa fa-remove fa-2x" %></p>
            <% end %>
          </ul>

          <%= link_to "", photo_likes_path(photo), id: 'likes-link', class: "fa fa-thumbs-o-up fa-2x" %>
          <span class= "likes-count"><%= photo.likes.count %> </span> Likes


        </section>
      </article>
  <% end %>

  <% else %>
    <h1>No photos have been added yet</h1>
  <% end %>
</main>
