<main>

  <% if @photos.any? %>

    <% @photos.each do |photo| %>
      <article class='photo-body'>

        <section class="image-container">
          <p><%= image_tag photo.image.url(:medium) %><p>
        </section>

        <section class='text-container'>
          <p><%= photo.user.email %>
          <p><%= photo.created_at.strftime("%d . %m . %Y") %></p>
          <p><%= link_to "#{photo.name}", photo_path(photo) %></p>

          <p><% if can? :update, photo %><p>
          <p><%= link_to "Edit #{photo.name}", edit_photo_path(photo) %></p>
          <% end %>

          <p><% if can? :destroy, photo %></p>
          <p><%= link_to "Delete #{photo.name}", photo_path(photo), method: :delete %></p>
          <% end %>

          <%= link_to "Like", photo_likes_path(photo), class: 'likes-link' %>
          <span class= "likes-count"><%= photo.likes.count %> </span> Likes
        </section>
  <% end %>

  <% else %>
    <h1>No photos have been added yet</h1>
  <% end %>
</main>
