<main>

  <% if @photos.any? %>

    <% @photos.each do |photo| %>
      <article class='photo-body'>

        <section class="image-container">
          <h2><%= link_to "#{photo.name}", photo_path(photo) %></h2>
          <p><%= image_tag photo.image.url(:medium) %><p>
        </section>

        <section class='text-container'>

          <%= photo.user.email %>
          <%= photo.created_at.strftime("%d . %m . %Y") %>


          <p><% if can? :update, photo %><p>
          <%= link_to "Edit", edit_photo_path(photo) %>
          <% end %>

          <p><% if can? :destroy, photo %></p>
          <p><%= link_to "Delete", photo_path(photo), method: :delete %></p>
          <% end %>

          <span class= "likes-count"><%= photo.likes.count %> </span> Likes
          <%= link_to "Like", photo_likes_path(photo), class: 'likes-link' %>

        </section>

  <% end %>

  <% else %>
    <h1>No photos have been added yet</h1>
  <% end %>
</main>
