<html>

<head>
<title>Instacam</title>
</head>

<body>
  <a href="/">Instacam</a>

  <% if user_signed_in? %>
    <%= link_to "Add a photo", new_photo_path %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete%>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <% end %>

  <span class="notice"><%= notice %></p>
  <span class="alert"><%= alert %></p>

  <main>
  <%= yield %>
  </main>

  <section class="footer">
    <p>Designed by Hadi</p>
  </section>
  
</body>
</html>
