  <!DOCTYPE html>
<head>

  <title>Instacam</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <section class="navbar">

    <h3><a class="brand" href="/">Instacam</a></h3>
      <i class="fa fa-camera-retro fa-3x camera"></i>
      <% if user_signed_in? %>
      <%= link_to "", new_photo_path, class: "fa fa-upload fa-4x", id: "upload-photo-icon" %>
      <%= link_to "", destroy_user_session_path, method: :delete, class: "fa fa-sign-out fa-3x", id: "sign-out-icon" %>
      <% else %>
      <%= link_to "", new_user_session_path, class: "fa fa-sign-in fa-3x", id: "sign-in-icon" %>
      <%= link_to "", new_user_registration_path, class: "fa fa-arrow-up fa-3x", id: "sign-up-icon" %>
      <%= link_to "", user_omniauth_authorize_path(:facebook), class: "fa fa-facebook-square fa-3x", id: "sign-in-with-facebook" %>
      <% end %>

  </section>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

  <section class="footer">
    <p>Designed by Hadi; Instacam 2015</p>
  </section>
</body>
</html>
